/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 11, ../sass/screen.scss */
header.blueprint-header {
  background-color: #bbb;
  color: #f8f8f8;
  padding: 3px 5px;
  margin-bottom: 20px;
  overflow: hidden;
  *zoom: 1;
}
/* line 17, ../sass/screen.scss */
header.blueprint-header h1 {
  font-size: 1.1em;
  float: left;
  width: 50%;
}
/* line 23, ../sass/screen.scss */
header.blueprint-header .actions {
  width: 40%;
  float: right;
  text-align: right;
}

/* line 32, ../sass/screen.scss */
#load-more {
  display: block;
  width: 80%;
  margin: 20px auto;
  font-size: 1.5em;
}

/* line 39, ../sass/screen.scss */
.reaction {
  width: 95%;
  margin: 20px auto;
}
/* line 44, ../sass/screen.scss */
.reaction header h1 {
  font-size: 1.2em;
  padding: 10px 0 5px 0;
  margin-bottom: 5px;
}
/* line 50, ../sass/screen.scss */
.reaction .flux-diagram {
  display: table;
  width: 100%;
}
/* line 55, ../sass/screen.scss */
.reaction .flux-diagram .headers, .reaction .flux-diagram .data {
  display: table-row;
}
/* line 59, ../sass/screen.scss */
.reaction .flux-diagram .reactants-header, .reaction .flux-diagram .products-header {
  display: table-cell;
  width: 35%;
}
/* line 64, ../sass/screen.scss */
.reaction .flux-diagram .reactants, .reaction .flux-diagram .products {
  display: table-cell;
  vertical-align: top;
  width: 35%;
}
/* line 69, ../sass/screen.scss */
.reaction .flux-diagram .reactants .reactant, .reaction .flux-diagram .reactants .product, .reaction .flux-diagram .products .reactant, .reaction .flux-diagram .products .product {
  background-color: #eee;
  cursor: pointer;
  padding: 3px 0 3px 10px;
}
/* line 76, ../sass/screen.scss */
.reaction .flux-diagram .reactants .reactant.odd, .reaction .flux-diagram .reactants .product.odd, .reaction .flux-diagram .products .reactant.odd, .reaction .flux-diagram .products .product.odd {
  background-color: #ddd;
}
/* line 80, ../sass/screen.scss */
.reaction .flux-diagram .reactants .reactant:hover, .reaction .flux-diagram .reactants .reactant.hover, .reaction .flux-diagram .reactants .product:hover, .reaction .flux-diagram .reactants .product.hover, .reaction .flux-diagram .products .reactant:hover, .reaction .flux-diagram .products .reactant.hover, .reaction .flux-diagram .products .product:hover, .reaction .flux-diagram .products .product.hover {
  background-color: #ccc;
}
/* line 84, ../sass/screen.scss */
.reaction .flux-diagram .reactants .reactant.header, .reaction .flux-diagram .reactants .product.header, .reaction .flux-diagram .products .reactant.header, .reaction .flux-diagram .products .product.header {
  font-size: 0.9em;
  background-color: #bbb;
  color: #eee;
}
/* line 93, ../sass/screen.scss */
.reaction .flux-diagram .reactant .stoichiometry,
.reaction .flux-diagram .reactants-header .stoichiometry {
  float: right;
}
/* line 97, ../sass/screen.scss */
.reaction .flux-diagram .product, .reaction .flux-diagram .products-header {
  text-align: right;
}
/* line 100, ../sass/screen.scss */
.reaction .flux-diagram .product .stoichiometry, .reaction .flux-diagram .products-header .stoichiometry {
  float: left;
}
/* line 105, ../sass/screen.scss */
.reaction .flux-diagram .flux {
  display: table-cell;
  width: 30%;
}
/* line 110, ../sass/screen.scss */
.reaction .flux-diagram .flux-rect {
  fill: red;
}
/* line 113, ../sass/screen.scss */
.reaction .flux-diagram .flux-path {
  fill: #eee;
  cursor: pointer;
}
/* line 117, ../sass/screen.scss */
.reaction .flux-diagram .flux-path.odd {
  fill: #ddd;
}
/* line 121, ../sass/screen.scss */
.reaction .flux-diagram .flux-path:hover, .reaction .flux-diagram .flux-path.hover {
  fill: #ccc;
}
