<!doctype html>
<html>
  <head>
    <meta charset='utf=8'>

    <link href="/static/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <link href="/static/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" />
    <!--[if IE]>
      <link href="/static/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <![endif]-->
  </head>
  <body>

  <div id='blueprint'></div>
  <button id='load-more'>Load more</button>

<script type='text/javascript' src='/static/handlebars.js'></script>
<script type='text/javascript' src='/static/jquery.js'></script>
<script type='text/javascript' src='/static/underscore.js'></script>
<script type='text/javascript' src='/static/backbone.js'></script>
<script type='text/javascript' src='/static/sprintf.js'></script>

{% raw %}
<script type='text/html' id='blueprint_template'>
<header class='blueprint-header'>
  <h1>{{ name }}</h1>
</header>

<div class='reactions'></div>
</script>


<script type='text/html' id='reaction_template'>
  <header>
    <h1>{{ name }}</h1>
  </header>

  <div class='flux-diagram'>

    <div class='data'>
      <div class='reactants'>
      {{#stripes reactants "even" "odd"}}
        <div class='reactant {{ stripeClass }}'>{{ species.name }} <span class='stoichiometry'>{{{format_stoichiometry stoichiometry }}}</span></div>
      {{else}}
        <div class='reactant'>There are no reactants.</div>
      {{/stripes}}
      </div>

      <div class='flux'>
      </div>
      <div class='products'>
      {{#stripes products "even" "odd"}}
        <div class='product {{ stripeClass }}'><span class='stoichiometry'>{{{format_stoichiometry stoichiometry }}}</span> {{ species.name }}</div>
      {{else}}
        <div class='product'>There are no products.</div>
      {{/stripes}}
      </div>
    </div>
  </div>
</script>
{% endraw %}

<script type='text/javascript'>

  var blueprint_template = Handlebars.compile($('#blueprint_template').html());
  var reaction_template = Handlebars.compile($('#reaction_template').html());

  // TODO collapse reaction flux diagram by default

  Handlebars.registerHelper('sprintf', sprintf);

  Handlebars.registerHelper("stripes", function(array, even, odd, options) {
    if (array && array.length > 0) {
      var buffer = "";
      for (var i = 0, j = array.length; i < j; i++) {
        var item = array[i];
   
        // we'll just put the appropriate stripe class name onto the item for now
        item.stripeClass = (i % 2 == 0 ? even : odd);
   
        // show the inside of the block
        buffer += options.fn(item);
      }
   
      // return the finished buffer
      return buffer;
    }
    else {
      return options.inverse();
    }
  });

  Handlebars.registerHelper('format_stoichiometry', function(s) {
    if (s < 0.001) {
      return '< 0.01';
    } else if (Math.floor(s) != s) {
      return 'x ' + sprintf('%.3f', s);
    } else if (s > 1) {
      return 'x ' + s;
    } else {
      return '';
    }
  });

  var make_svg = function(tag) {
    return document.createElementNS('http://www.w3.org/2000/svg', tag);
  };

  // TODO handle resizing window, redraw svg flux paths
  var init_reaction = function($root) {

    var cont = $root.find('.flux');
    var cw = cont.width();
    var ch = cont.height();

    var svg = make_svg('svg');
    cont[0].appendChild(svg);

    svg.setAttribute('version', '1.2');
    svg.setAttribute('baseProfile', 'tiny');
    svg.setAttribute('viewBox', '0 0 ' + cw + ' ' + ch);
    svg.setAttribute('width', cw);
    svg.setAttribute('height', ch);

    var junc_h = 40;
    var junc_w = 100;

    var w = (cw - junc_w) / 2;

    var rect = make_svg('rect');
    rect.setAttribute('x', w);
    rect.setAttribute('y', 0);
    rect.setAttribute('width', junc_w);
    rect.setAttribute('height', junc_h);
    rect.setAttribute('class', 'flux-rect');

    svg.appendChild(rect);

    var init_flux_paths = function(elements, reverse) {

      var offset_l = 0;
      var offset_r = 0;

      var h_inc = junc_h / elements.length;

      elements.each(function(i, el) {

        var h = el.clientHeight;

        var d = ['M', 0, offset_l, 'L', w, offset_r, w, offset_r + h_inc, 
                 'L', 0, offset_l + h, 'Z'].join(' ');

        offset_r += h_inc;
        offset_l += h;

        var path = make_svg('path');
        path.setAttribute('d', d);

        if (reverse) {
          path.setAttribute('transform',
                            'translate(' + (cw + 1) + ', 0) scale(-1, 1)');
        }

        var cls = 'flux-path';
        if ($(el).hasClass('odd')) {
          cls += ' odd';
        }
        path.setAttribute('class', cls);

        // TODO sucks that i have to emulate jQuery.toggleClass() here
        $(el).hover(function() {
          path.setAttribute('class', path.getAttribute('class') + ' hover');
        }, function() {
          var cls = ' ' + path.getAttribute('class') + ' ';
          while (cls.indexOf(' hover ') > -1) {
            cls = cls.replace(' hover ', ' ');
          }
          path.setAttribute('class', cls);
        });

        $(path).hover(function() {
          $(el).toggleClass('hover');
        });

        svg.appendChild(path);
      });
    };

    init_flux_paths($root.find('.reactant'));

    init_flux_paths($root.find('.product'), true);

  };

  var api_base = 'http://127.0.0.1:8000';
  var Blueprint = Backbone.Model.extend({
    url: 'http://127.0.0.1:8000/api/v1/blueprint/1/?format=json'
  });

  var Reaction = Backbone.Model.extend({
  });

  var Species = Backbone.Model.extend({
  });


  var ReactionView = Backbone.View.extend({
    tagName: 'div',
    className: 'reaction',

    render: function() {
      var s = reaction_template(this.model.toJSON());
      this.$el.html(s);
      var that = this;

      init_reaction(this.$el);

      return this;
    }
  });

  var ReactionCollection = Backbone.Collection.extend({
    model: Reaction,
    url: 'http://127.0.0.1:8000/api/v1/reaction/?format=json&blueprint=1',
    next: '',
    parse: function(resp) {
      this.url = resp.meta.next;
      return resp.objects;
    },
  });

  var App = Backbone.View.extend({

    initialize: function() {

      var b = new Blueprint();
      b.fetch({
        success: function(b, resp) {

          var bv = $(blueprint_template(b.toJSON()));
          $('#blueprint').html(bv);

          // TODO bootstrap initial data

          var reactions = new ReactionCollection();

          var renderOne = function(m) {
            var v = new ReactionView({
              model: m,
            });
            $('#blueprint .reactions').append(v.el);
            v.render();
          };

          reactions.on('add', renderOne);

          reactions.on('reset', function() {

            $('#blueprint .reactions').html('');
            reactions.each(renderOne);
          });

          reactions.fetch();

          $('#load-more').click(function() {
            reactions.fetch({
              add: true
            });
          });
        }
      });
    },
  });

  var app = new App();
</script>

</body>
</html>
